<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean class="com.kn.Spring3.CompanyXYZ" id="cmp">
	<property name="e" ref="emp2"></property>
</bean>
<bean class="com.kn.Spring3.Employee" id="emp">
	<property name="empID" value="12"/>
	<property name="empName" value="Mahendra"/>
	<property name="empSalary" value="120000"/>

</bean>
<bean class="com.kn.Spring3.Employee" id="emp2">
	<property name="empID" value="12"/>
	<property name="empName" value="Mahendra"/>
	<property name="empSalary" value="120000"/>

</bean>
</beans>